.comment {
    position: relative;
    display: flex;
    flex-direction: column;
    
    background-color: aliceblue;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

#comment-body {
    height: 50px;
    width: 375px;
}

.post-success-msg {
    text-align: center;
    color: green;
}

.post-error-msg {
    color: rgb(164, 67, 67);
}

.delete-success-msg {
    text-align: center;
    color: red;
}

.delete-comment-btn {
    background-color: rgb(206, 115, 115);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

}